body{
	margin: 0px;
	padding: 0px;
}

/*Header start*/

header{
	border-bottom: 2px solid #EEF0F3;
	padding: 10px 0;
}

.wrapper {
	width: 90%;
	/*border: 1px solid black;*/
	margin: 0 auto;
	overflow: hidden;
	padding: 5px 0;

}

.logo {
	width:10%;
	/*border: 1px solid green;*/
	float: left;
}

.logo a{

}

.logo a img{
	width: 100%;
}

.menu {
	width:40%;
	/*border: 1px solid green;*/
	float: right;
}

.menu ul{
	list-style: none;
	float: right;
}

.menu ul li{
	float: left;
}

.menu ul li a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    display: inline-block;
    text-transform: capitalize;
    color: #0F2656;
}
.menu ul li:last-child a{
	margin-right: 0px;
}

.menu ul li a:hover{
	color: #008AFF;
}

/*Header end*/


/*Banner section start*/
.banner {
    /*border: 1px solid red;*/
    padding: 50px 0px;
}

.wrapper2{
	/*border: 1px solid green;*/
	width: 70%;
	margin: 0 auto;
}
.B_container{
	text-align: center;

}
.B_container h1 {
    font-size: 55px;
    color: #0F2656;
    margin: 0 173px;
    line-height: 70px;
}

.B_container h1 span{
	color: #008AFF;
}
.B_container p {
    font-size: 21px;
    color: #0F2656;
    margin: 15px 77px 30px;
    line-height: 32px;
}

.b_img{
	width:60%;
	/*border: 1px solid tomato;*/
	margin: 0 auto;
}
.b_img img{
	width: 100%;
}

/*Banner section end*/


/*Sucess start*/
.success{
	/*border: 1px solid red;*/
	padding: 50px 0px;
}
.success_container{
   overflow: hidden;
}

.contain-left {
    float: left;
    width: 40%;
    /*border: 1px solid;*/
    text-align: right;
    padding: 10px 20px;
}

.contain-left h2 {
    color: #F15767;
    font-size: 50px;
    margin: 11px 0px;
}

.contain-left p {
    color: #0F2656;
    font-size: 21px;
    line-height: 25px;
    margin: 10px 0px 20px;
}

.contain-right {
    float: right;
    width: 50%;
    /*border: 1px solid;*/
    padding: 10px 20px;
}

.contain-right h1 {
    color: #0F2656;
    font-size: 56px;
    line-height: 58px;
    margin: 0px;
    padding: 5px 10px;
}
/*Sucess end*/

/*Survice creativity start*/
.service{
	padding: 50px 0px;
	/*border: 1px solid red;*/
}

.service_container{
	overflow: hidden;
}

.service_single {
    width: 26%;
    /* border: 1px solid tomato; */
    padding: 20px 22px 23px;
    float: left;
    margin: 14px 14px -13px 26px;
}

.service_img {
}

.service_img img {
    width: 100%;
     /*border: 1px solid;*/

}
.service_single h2 {
    color: #0F2656;
    font-size: 30px;
    padding: 10px 3px;
    margin: 0px 6px;
}
.service_single p {
    color: #0F2656;
    font-size: 16px;
    padding: 0px 10px;
    line-height: 32px;
    margin: 0px 5px;
}
.red{
   background: #FDEBED;
}

.green{
	background: #EBF9F4;
}

.tomato{
	background: #FFF7E8;
}

/*Survice creativity End*/

/*Navbar start*/
.navbar {
    background: #008AFF;
    /* min-height: 31px; */
    padding: 20px 0px;
}

.navcontainer
{
    width: 70%;
    margin: 0 auto;
    /*border: 1px solid;*/
}
.navcontainer p {
    color: #9ED2FF;
    text-align: center;
    font-size: 14px;
}

.navcontainer p span {
    color: white;
    letter-spacing: 3px;
}

/*Navbar end*/